<nav class="nav-bar">
  <img src="assets/image/C i t y.png" width="110" height="100"/>
<div class="nav-items">
  <a (click)="go_To('/home')">Home</a>
  <a (click)="go_To('/aboutus')">About us</a>
  <a (click)="go_To('/contactus')">Contact</a>
  <a (click)="go_To('/selectlocation')">Search Buses</a>
  <a (click)="go_To('/adminlogin')" *ngIf="!isLogedIn">Admin Login</a>
  <a (click)="go_To('/login')" *ngIf="!isLogedIn">Login</a>
  <a (click)="logout()" *ngIf="isLogedIn">Logout</a>
</div>
</nav>
  <body>
  <div class="container">
<div class="title">
  Passenger
</div>
<br>
  <hr class="solid">
<form action="/home"  *ngFor="let seat of filteredSeat">
  <div class="userdetails">
    <div class="inputbox">
      <span class="details">Passenger Name</span> <input type="text" [value]="seat.name" [(ngModel)]="seat.name"
         name="name" required>
    </div>
    <div class="inputbox">
      <span class="details">Seat</span> <input type="text" name="seat" required [value]="seat.index" readonly>
    </div>
    <div class="inputbox">
      <span class="details">Age</span> <input type="number" min="1" name ="age" required [(ngModel)]="seat.age">
    </div>
    <div class="inputbox">
      <span class="details">Gender</span> <select name= "Gender" required [(ngModel)]="seat.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="others">Others</option>
      </select>
    </div>
  </div>
  <br>
  <hr class="solid">
</form>

  <div class="btn">
    <button (click)="goTo()" id="submit">Submit</button>
    <!-- <input type="submit" value="Submit" id="submit"> -->
  </div>
</div>
</body>
